<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>Transcendence</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'transcendence/style.css' %}?{% now 'U' %}">
    <script>
        window.onpopstate = (event) => console.log("hello");
    </script>
    {% block scripts %}
        <script src="{% static 'transcendence/common/navigation.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/common/hydration.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/pong/pong_utils.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/pong/local_match/local_1v1.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/pong/local_tournament/form.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/pong/local_tournament/lobby.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/pong/local_tournament/match.js' %}?{% now 'U' %}" defer></script>
        <script src="{% static 'transcendence/script.js' %}?{% now 'U' %}" defer></script>
    {% endblock scripts %}
</head>

<body>
    <nav id="main-navbar" class="navbar">
        <ul id="main-menu">
            <!-- TODO: replace 'Home' text with a logo ? -->
            <li id="nav-home" class="nav-link"><a href="/">Home</a></li>
            <li id="nav-play" class="nav-link"><a href="/play">Play</a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li id="user-tag" class="nav-link" data-authenticated="true"><a href="/user/{{ user.id }}">{{ user.username }}</a></li>
            {% else %}
                <li id="user-tag" class="nav-link" data-authenticated="false"><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    {% comment old_spa %}
        {% include "transcendence/main_home.html" %}
        {% include "transcendence/main_play.html" %}
        {% include "transcendence/main_local_1v1.html" %}
        {% include "transcendence/main_local_tournament_form.html" %}
        {% include "transcendence/main_local_tournament_lobby.html" %}
        {% include "transcendence/main_local_tournament_match.html" %}
    {% endcomment %}
    
</body>

</html>
