<div id="{{ id_prefix }}-game-canvas" class="">
    <div id="{{ id_prefix }}-left-paddle" class="left-paddle"></div>
    <div id="{{ id_prefix }}-ball" class="ball"></div>
    <div id="{{ id_prefix }}-right-paddle" class="right-paddle"></div>
    <button id="{{ id_prefix }}-start-button" class="link hidden start-button">Start</button>
    <div id="{{ id_prefix }}-score" class="score-div">
        <span id="{{ id_prefix }}-left-score" class="score left-score">0</span>
        <span id="{{ id_prefix }}-score-separator" class="score score-separator">-</span>
        <span id="{{ id_prefix }}-right-score" class="score right-score">0</span>
    </div>
</div>
