<main id="main-local-tournament-lobby" class="hidden">
    <h1>Local Tournament</h1>
    <h2 id="local-tournament-lobby-current-round-name"></h2><!-- Final, Semifinals, Quarterfinals -->
    <h3 id="local-tournament-lobby-next-match"></h3>
    <h3 id="local-tournament-lobby-winner"></h3>

    <div id="local-tournament-lobby-tables">
        <section id="local-tournament-lobby-next-round" class="lobby-table">
            <header class="lobby-table-header">Current round</header>
            <div id="div-local-tournament-lobby-next-round">
                <!-- <div class="match">
                    <span class="left-player">player1</span>
                    <span class="separator">-</span>
                    <span class="right-player">player2</span>
                </div> -->
            </div>
        </section>
        <section id="local-tournament-lobby-out" class="lobby-table">
            <header class="lobby-table-header">Eliminated</header>
            <div id="div-local-tournament-lobby-players-out">
                <div>player3</div>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="center">
            <button id="local-tournament-lobby-button">Start next match</button>
        </div>
    </div>
</main>
