<main id="main-play" class="hidden">
    <div id="pong-game-selection">
        <div id="local-1v1" class="box link">
            <div class="box-content">Local<br/>1v1</div>
        </div>
        <div id="local-tournament" class="box link">
            <div class="box-content">Local<br/>tournament</div>
        </div>
        <div id="online-1v1" class="box link">
            <div class="box-content">Online<br/>1v1</div>
        </div>
        <div id="online-tournament" class="box link">
            <div class="box-content">Online<br/>tournament</div>
        </div>
    </div>
</main>