<main id="main-local-pvp" class="hidden">
    <div id="players-names" class="hidden">
        <span id="player1"></span>
        <span id="versus">vs</span>
        <span id="player2"></span>
    </div>
    <div id="game-canvas">
        <div id="local-pvp-left-paddle" class="left-paddle"></div>
        <div id="local-pvp-ball" class="ball"></div>
        <div id="local-pvp-right-paddle" class="right-paddle"></div>
        <button id="local-pvp-start-button" class="link hidden">Start</button>
        <div id="local-pvp-score">
            <span id="local-pvp-left-score" class="score">0</span>
            <span id="local-pvp-score-separator" class="score">-</span>
            <span id="local-pvp-right-score" class="score">0</span>
        </div>
    </div>
</main>
