@font-face {
    font-family: VeniteAdoremus;
    src: url('/media/VeniteAdoremus-rgRBA.ttf');
}

body {
    background-color: black;
    margin: 0;
    /* overflow: hidden; */
    color: white;
}

h1,h2,h3 {
	text-align: center;
	color: white;
	font-family: VeniteAdoremus;
} 

.hidden {
    display: none;
}

/* Local versus animation */
.local-match-select a {
    color: white;
    font-family: VeniteAdoremus, sans-serif;
    font-size: 3vw;
    transition: text-shadow 0.3s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
    /* display: flex;
  align-items: center;
  justify-content: center; */
}

#opponent-selection #nav-local-pvp {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translateY(-50%) translateX(-50%);
}

#opponent-selection #nav-local-pvai {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%) translateX(-50%);
}

.local-pvp-select:hover {
    text-shadow:
    0 0 5px #2288f0,
    0 0 10px #2288f0,
    0 0 15px #2288f0,
    0 0 20px #2288f0,
    0 0 25px #2288f0,
    0 0 30px #2288f0,
    0 0 35px #2288f0,
    0 0 40px #2288f0,
    0 0 45px #2288f0,
    0 0 50px #2288f0;
}

.local-pvai-select:hover {
    text-shadow:
    0 0 5px #ff2740,
    0 0 10px #ff2740,
    0 0 15px #ff2740,
    0 0 20px #ff2740,
    0 0 25px #ff2740,
    0 0 30px #ff2740,
    0 0 35px #ff2740,
    0 0 40px #ff2740,
    0 0 45px #ff2740,
    0 0 50px #ff2740;
}

/* bouncing dots animation */
#bouncing_dots {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

/* Pong Title img */
#pong-title{
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    pointer-events: none;
}

/* main nav-bar */
#main-navbar {
    /* Set the navbar to fixed position */
    position: fixed;
    /* Position the navbar at the top of the page */
    top: 0;
    left: 0;
    /* Full width */
    width: 100vw;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#main-navbar ul {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#main-menu {
    flex-basis: 80%; /* Restrict this <ul> to 70% width */
    overflow: hidden;
}

/* #main-menu {
    left: 0;
    display: flex;
    flex-direction: row;
} */

#main-navbar li {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
    vertical-align: middle;
    padding-top: auto;
    text-align: center;
    white-space: nowrap;
}

#main-navbar li:hover {
    cursor: pointer;
}

main {
    margin-top: 60px;
}

/* main nav-bar animation */
.animated-underline-link {
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.05em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
  
.animated-underline-link .underline {
    position: absolute;
    left: 0;
    bottom: 1;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
}
  
.animated-underline-link:hover {
    color: white;
    text-shadow: 0 0 2px, 0 0 5px;
}
  
.animated-underline-link:hover .underline {
    width: 100%;
}


/* game mode selection animation */
#pong-game-selection .box {
    position: relative;
    width: 150px;
    height: 60px;
    margin: 0 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
  
#pong-game-selection .box::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 14px;
    border: 2px solid white;
}
  
#pong-game-selection .box::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 12px;
    border: 1px solid black;
}

#pong-game-selection {
    display: flex;
    /* justify-content: center; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#pong-game-selection .box-content {
    color:white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    line-height: 1.2;
    text-decoration: none;
}

#pong-game-selection .box:hover {
    background-color: white; /* White background on hover */
}
  
#pong-game-selection .box:hover .box-content {
    color: black; /* Black text on hover */
}

/* #opponent-selection {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    min-width: 256px;
    max-width: 512px;
    gap: 6px;
}

#opponent-selection .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opponent-selection .description {
    text-align: center;
    margin-top: 250px;
} */

.box {
    position: relative;
    /* top: 50%; */
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 70px;
}

.box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .nav-link:hover {
    cursor: pointer;
    background-color: aquamarine;
    font-size: 1.2em;
} */

.box.link:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.box-content {
    color: inherit;
    text-decoration: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
    text-decoration: inherit;
}

/* a:visited {
    color: inherit;
    text-decoration: inherit;
} */

/* #main-local-1v1.shown {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .25fr 1fr;
} */

/* pong game design */
.pong-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .25fr 1fr;
}

#game-elements {
    grid-column: 2/3;
}

#players-names {
    position: absolute;
	top: max(10vh, 40px);
	left: 50%;
    font-size: 3vmin;
	white-space: nowrap;
	transform: translate(-50%);
}

div[id$="game-canvas"] {
    z-index: 10;
    margin-top: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	aspect-ratio: 8/5;
    /* grid-column: 2/3;
    grid-row: 2;
    aspect-ratio: 8/5;
    background: black;
    position: relative; */
    /* border: 3px solid white; */
    /* box-sizing: content-box; */
    font-family: VeniteAdoremus;
}

div[id$="game-canvas"]::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    /* border-radius: 14px; */
    border: 2px solid white;
}

.left-paddle {
    z-index: 1;
    position: absolute;
    height: 25%;
    width: 3%;
    background-color: white;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 6px;
}

.right-paddle {
    z-index: -1;
    position: absolute;
    height: 25%;
    width: 3%;
    background-color: white;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 6px;
}

.ball {
    z-index: 1;
    position: absolute;
    width: 3%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: 15%;
    background: none;
    border: none;
    color:white;
    font-size: 3vw;
}

.text-only-button:focus {
    outline: none;
    box-shadow: unset;
  }

#start-button-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.score-div {
    z-index: 1;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* tournament winner page */
#local-tournament-lobby-winner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: min(5vw, 60px);
}

/* local tournament form page */
#main-local-tournament-form
{
    padding-top: 20px;
}

#div-add-player {
    position: absolute;
    top: 55%;
    left: 40%;
    width: 40%;
    height: 40%;
    transform: translateY(-50%) translateX(-50%);
}

#form-and-player-list
{
    display: grid;
    max-width: 400px;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin: auto;
}

.input-tournament-form {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
}

#div-player-list
{
    color: white;
    position: absolute;
    top: 30%;
    left : 65%;
    /* transform: translate(-50%, -50%); */
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    border-style: solid;
    border-width: 8px;
    border-radius: 10px;
    height: 50%;
    width: auto;
    min-width: 310px;
    /* aspect-ratio: 10/15; */
    padding: 10px;
}

#div-start-tournament
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: VeniteAdoremus, sans-serif;
}

.registered-player
{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 3%;
    font-family: VeniteAdoremus, sans-serif;
}

.remove-player
{
    color: red;
    font-weight: bolder;
    transform: scale(3) rotate(-45deg);
    position: relative;
    top: 30%;
    left: 30px;
    /* transform: rotate(-45deg); */
}

.remove-player:hover
{
    cursor: pointer;
}

.error
{
    color: red;
    font-family: VeniteAdoremus;
}

#error-message-form {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50% -50%);
}


/* local tournament lobby */
#main-local-tournament-lobby {
	display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: max(10%, 100px);
  font-family: VeniteAdoremus;
  box-sizing: border-box;
}

#main-local-tournament-lobby h1{
	font-size: 6vmin;
}

#main-local-tournament-lobby h2{
	font-size: 3vmin;
}

#main-local-tournament-lobby h3{
	font-size: 2vmin;
}

#local-tournament-lobby-tables {
    color: white;
    font-family: VeniteAdoremus;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 6px;
    margin: 0;
}

.lobby-table-header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.lobby-table {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 220px;
    padding-top: 5px;
}

#div-local-tournament-lobby-next-round {
    text-align: center;
}

.left-player {
    text-align: right;
}

.separator {
    text-align: center;
}

.right-player {
    text-align: left;
}

#local-tournament-lobby-button {
    font-family: VeniteAdoremus;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

.player-out {
    text-align: center;
}

.lobby-table-header {
    top: 50%;
}

.container {
    margin: 10px;
}

.center {
    text-align: center;
}

.match-winner {
    font-weight: bold;
}

.bye {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
}

#div-local-tournament-lobby-players-out div {
    text-align: center;
}

#players-names {
    text-align: center;
}

#logout-link {
    color: red;
}

#user-tag a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

span[is_winner=true] {
    color: #159b0a !important;
}

span[is_winner=false] {
    color: #F61818 !important;
}

/* local tournament results page */
/* #main-local-tournament-results {
	font-family: VeniteAdoremus;
}
#main-local-tournament-results h1 {
	position: absolute;
	top: max(60px, 10%);
	left: 50%;
	transform: translate(-50%);
	font-size: 3vw;
	white-space: nowrap;
}

#main-local-tournament-results h3 {
	position: absolute;
	top: max(100px, 50%);
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vw;
	white-space: nowrap;
} */

/* login page */
#main-login {
    color: white;
}

.pass-field {
    font-family: sans-serif;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    transform: translateX(-50%) translateY(-50%);
    font-family: VeniteAdoremus;
}

.login-button
{
    margin:1vw;
    width: 190px;
    text-align: center;
    font-family: VeniteAdoremus, sans-serif;
}

.create-account-button {
    font-family: VeniteAdoremus;
    width: 190px;
}

.error-login {
    position: absolute;
    color:#ff2740;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: VeniteAdoremus;
    text-align: center;
    font-size: 20px;
}

.error-message {
    font-family: VeniteAdoremus;
    color:#ff2740;
}

/* signup page */
#main-signup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: VeniteAdoremus;
    color: white;
    align-content: center;
}

.signup-button
{
    position: absolute;
    top: 110%;
    left: 50%;
    width: 190px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: VeniteAdoremus, sans-serif;
}

/* user profile navigation */
.profile-nav {
    font-family: VeniteAdoremus;
    margin: auto;
    width: 300px;
}

#profile-nav ul {
    position: absolute;
    top: max(30%, 100px);
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
}

/* specification when edit profile is displayed */
#main-edit-profile #profile-nav ul {
    position: absolute;
    top: max(30%, 140px);
    left: max(50%, 530px);
    transform: translateX(-50%);
    list-style-type: none;
}

/* main profile title */
#main-profile h1 {
	font-family: VeniteAdoremus;
	white-space: nowrap;
}

/* default text style */
.default-text-style {
    font-family: VeniteAdoremus;
    color: white;
}

/* edit-profile page helptext */
.helptext {
    color: #6C757D;
    font-size: 0.8em;
    margin-bottom: 0px;
}

/* password-change-form */
#password-change-form {
    color: white;
    font-family: VeniteAdoremus, sans-serif;
    position: absolute;
    left: 0;
    top: 10%
}

#password-change-form ul {
    color: #6C757D;
    font-size: 0.8em;
    margin-bottom: 0px;
}

/* fix the blank password input bug */
input[type="password"] {
    font-family: sans-serif !important;
}

/* password success message */
#password-change-successful {
	position:absolute;
	top: max(20%, 100px);
	left: 50%;
	transform: translate(-50%);
	color:#159b0a;
}

/* password change fail message */
.errorlist {
	list-style-type: none;
}

.errorlist li {
	color:#F61818;
}

/* leaderboard page */
#main-leaderboard {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30vw;
    min-width: 325px;
    color:white;
}

.leaderbord-players a {
    color:white;
}

/* profile picture */
.profile-picture {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.language-select {
    color: white;
    background-color: transparent;
    outline: 0;
    border: none;
}

.language-select option {
    background-color:black;
    border: none;
    outline: 0;
}

.language-go {
    background-color: transparent;
    color:white;
    border: none;
    cursor: pointer;
}

/* select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: black;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 } */

 /* online pvp game */
 #lobby #div-play #play-title {
    position: absolute;
    top:max(65px, 20%);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    white-space: nowrap;
    color: #777a75;
 }

 #button-play {
    position: absolute;
    left: 50%;
    top:max(90px, 40%);
    transform: translate(-50%, -50%);
    height: 15%;
    background: none;
    border: none;
    color:white;
    font-size: 4vw;
    font-family: VeniteAdoremus;
}

#waiting-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: #777a75;
}

#button-abort{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 15%;
    background: none;
    border: none;
    color:white;
    font-size: 2vw;
    font-family: VeniteAdoremus;
}

#div-result {
    z-index: 36;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: VeniteAdoremus;
    text-align: center;
}

/* online tournament */
#online-tournament-lobby {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ul-queue {
    list-style-type: none;
    padding: 0;
}

#ul-queue li {
    padding-bottom: 5px;
}

#nb-of-players-in-queue {
    left: 50%;
}

#nb-of-players-in-queue[is_ready=true] {
    color: #159b0a !important;
}

#nb-of-players-in-queue[is_ready=false] {
    color: red !important;
}

/* online tournament next and winner page */
.online-tournament-midpage {
    position: absolute;
    top: max(20%, 200px);
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .online-tournament-midpage h2 {
	top: max(20%, 100px);
} */

.online-tournament-midpage span {
    display:inline-block;
    padding: 10px;
}

#ul-round-pairings {
    list-style-type: none;
}

#online-tournament-results button a {
    color: white;
    text-decoration: none;
}

#online-tournament-results button:hover {
    color: black;
}

#online-tournament-results button a:hover {
    color: black;
}

/* following page */
#main-following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-following table {
    position: relative;
    top: 0;
    left: 0;
}

#button-leave {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* user details page */
#match-history {
    position: relative;
    top: 0;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
}

#follow-form {
    z-index: 30;
    position: relative;
}

#follow-form button{
    position:relative;
    left: 50%;
    transform: translate(-50%);
}

#wins {
    color: #159b0a !important;
    margin: 1em;
}

#losses {
    color: #F61818 !important;
    margin: 1em;
}

#wins-and-losses {
    left:50%;
    text-align: center;
    /* transform: translate(-50%); */
}

#prout {
    position: relative;
    top: 50px;
}

#div-match-history {
    position: relative;
    top: 50px;
}

#edit-profile-form {
	position:relative;
	top: 0;
	left: 0;
}