{% extends "../base.html" %}

{% block content %}
<main id="main-play" class="shown">
    <div id="pong-game-selection">
        <div id="nav-local-pvp" class="box link" data-target-main-id="main-local-1v1">
            <a href="/local-match/" class="box-content">Local<br/>match</a>
        </div>
        <div id="nav-local-tournament" class="box link" data-target-main-id="main-local-tournament-form">
            <a href="/local-tournament/form/" class="box-content">Local<br/>tournament</a>
        </div>
        <div id="nav-online-pvp" class="box link">
            <a href="" class="box-content">Online<br/>pvp</a>
        </div>
        <div id="nav-online-tournament" class="box link">
            <a href="" class="box-content">Online<br/>tournament</a>
        </div>
    </div>
</main>
{% endblock content %}
