{% extends "../../base.html" %}

{% block content %}
<main id="main-local-tournament-form" class="">

    <section id="form-and-player-list">
        <div id="div-add-player">
            <form id="local-tournament-form">
                {% csrf_token %}
                <div id="error-message-form" class="error"></div>
                <div>
                    <label for="form-player-name">Add a player</label>
                    <input type="text" name="player-name" id="form-player-name"
                    maxlength="10" autocomplete="off">
                </div>
                <button id="add-player" class="link">Add player</button>
            </form>
        </div>

        <div id="div-player-list">
        </div>
    </section>

    <div id="div-start-tournament">
        <div id="error-message-start" class="error"></div>
        <button id="start-tournament" class="link">Start tournament</button>
    </div>
</main>
{% endblock content %}
