{% extends "../../base.html" %}
{% load i18n %}

{% block content %}
<main id="select-local-opponent" class="shown">
    <div id="local-opponent-selection">
        <div id="nav-local-pvp" class="box link" data-target-main-id="main-local-1v1">
            <a href="{% url 'local-match-pvp' %}" class="box-content">
                {% trans 'Local' %}<br/>
                {% trans 'Match' %} - {% trans 'Against Player' %}
                <!-- <p class="description">{% trans 'Play against another player locally.' %}</p> -->
            </a>
        </div>
        <div id="nav-local-pvai" class="box link" data-target-main-id="main-local-tournament-form">
            <a href="{% url 'local-match-pvai' %}" class="box-content">
                {% trans 'Local' %}<br/>
                {% trans 'Match' %} - {% trans 'Against AI' %}
                <!-- <p class="description">{% trans 'Play against the AI locally.' %}</p> -->
            </a>
        </div>
    </div>
</main>
{% endblock content %}
